.content {
    background-color: white;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;

    .right {
        display: flex;
        flex-direction: column;
        gap: 8px;
        button {
            background-color: white;
            border: 1px solid #0e0e0e;
            border-radius: 4px;
            cursor: pointer;
            padding: 2px 8px;
            transition: all .3s ease-out;
            &:hover {
                color: white;
                background-color: #0e0e0e;
            }
        }
        .btnPositions {
            display: flex;
            gap: 4px;
        }
    }
}

.name {
    font-size: 16px;
    color: black;
}

.comment {
    margin-top: 4px;
    font-size: 14px;
    opacity: .7;
}